<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <!-- @ reprezentuje root webovu adresu aplikacie -->
        <h1>Zoznam všetkých zamestnancov</h1>
        <a th:href="@{/showNewEmployeeForm}" button type="button" class="btn btn-info"> Pridaj zamestnanca </a>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th> Krstné meno zamestnanca</th>
                <th> Priezvisko zamestnanca</th>
                <th> Email zamestnanca</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee:${listEmployees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td><a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Aktualizovať</a>
                    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}"class ="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>